:root {
   /* ### Primary */
   --light-red: hsl(0, 100%, 67%);
   --orangey-yellow: hsl(39, 100%, 56%);
   --green-teal: hsl(166, 100%, 37%);
   --cobalt-blue: hsl(234, 85%, 45%);

   /* ### Gradients */
   --light-slate-blue: hsl(252, 100%, 67%);
   --light-royal-blue: hsl(241, 81%, 54%);

   /* Circle */
   --violet-blue: hsla(256, 72%, 46%, 1);
   --persian-blue: hsla(241, 72%, 46%, 0);

   /* ### Neutral */
   --white: hsl(0, 0%, 100%);
   --pale-blue: hsl(221, 100%, 96%);
   --light-lavender: hsl(241, 100%, 89%);
   --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
   margin: 0;
   padding: 0;
   overflow: hidden;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-family: "Hanken Grotesk", sans-serif;
   font-size: 1.8rem;
   height: 100vh;
   background: var(--white);
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

#card {
   background: var(--white);
   width: 40%;
   height: 60%;
   border-radius: 2rem;
   box-shadow: 3rem 5rem 3rem 0.6rem hsla(241, 100%, 89%, 0.18);
}

.card-content {
   display: flex;
   height: 100%;
}

.card-content > div {
   flex: 1;
   padding: 3rem;
}

.card-content .content-top {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: linear-gradient(
      180deg,
      var(--light-slate-blue),
      var(--light-royal-blue)
   );
   border-radius: 1rem 2rem 2rem 1rem;
   color: var(--light-lavender);
}

.circle {
   margin: auto;
   padding: 4rem 5rem;
   border-radius: 50%;
   background: linear-gradient(
      to bottom,
      var(--violet-blue),
      var(--persian-blue)
   );
}

h1 {
   color: var(--white);
   font-size: 5.5rem;
   font-weight: 800;
}

h2 {
   color: var(--white);
   font-size: 3rem;
   font-weight: 700;
}

p,
.btn {
   font-size: 1.5rem;
}

.bottom p {
   padding: 2rem 3.5rem;
}

.card-content .content-bottom,
.highlight > p {
   color: var(--dark-gray-blue);
   font-weight: 700;
}

.highlight > p span {
   color: hsla(224, 30%, 27%, 0.5);
}

.highlight img {
   padding-right: 1rem;
}
.result {
   display: flex;
   flex-direction: column;
   height: 70%;
   justify-content: space-between;
   padding: 2rem 0;
}

.highlight {
   display: flex;
   justify-content: space-between;
   padding: 1.3rem 1rem;
   border-radius: 0.8rem;
}

.highlight div {
   display: flex;
}

.red {
   color: var(--light-red);
   background: hsla(0, 100%, 67%, 0.1);
}
.yellow {
   color: var(--orangey-yellow);
   background: hsla(39, 100%, 56%, 0.1);
}
.green {
   color: var(--green-teal);
   background: hsla(166, 100%, 37%, 0.1);
}
.purple {
   color: var(--cobalt-blue);
   background: hsla(234, 85%, 45%, 0.1);
}

.btn {
   display: block;
   width: 100%;
   text-align: center;
   background: var(--dark-gray-blue);
   padding: 1.3rem;
   border-radius: 3rem;
   margin-top: 2rem;
   color: var(--white);
   cursor: pointer;
}

.btn:hover {
   background: linear-gradient(
      180deg,
      var(--light-slate-blue),
      var(--light-royal-blue)
   );
}
